@mixin setDisplayFlex(
  $direction: row,
  $justify: normal,
  $align_items: normal,
  $align_self: normal
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align_items;
  align-self: $align_self;
}
@mixin setBackground($url, $size, $pos: center center, $repeat: no-repeat) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $pos;
  background-size: $size;
}

@mixin setColors($color) {
  color: white;
  &::after {
    border: 2px solid $color;
  }
  &:hover {
    &::after {
      background-color: $color;
    }
  }
}

@mixin setSizes() {
  padding-top: $marginFromTop;
  margin: 30px 5% 0 5%;
}

@mixin setProdArea() {
  @include setDisplayFlex(row, center, stretch);
  flex-wrap: wrap;
  & > a,
  > div {
    min-width: 300px;
  }
}
