// Colors
$hero: #dfff00;
$warningRed: #ff2b2b;
$lightRed: #e85656;
$lightGreen: #00ff9f;
$blueishGreen: #00ffee;
$lightBlue: #0abdc6;
$marineBlue: #133e7c;
$darkBlue: #091833;
$darkBlueBlur: #1732654e;
$purple: #711c91;
$pink: #ea00d9;
$darkGrey: #171717;
$lightGrey: #b4b4b4;
$white: #fff;
$black: #000;
$blurredBlack: #00000041;

// Fonts
@font-face {
  font-family: "Default";
  src: url(/assets/fonts/TechnoCharm.otf) format("opentype");
}

$default: "Default";

// Sizes
$max-width-md: 1000px;
$max-width-sm: 800px;
$marginFromTop: 70px;
$scrollBarWidth: 18px;
