@import "_variables";
@import "_functions";
$skew: 20deg;
.but {
  border: none;
  background-color: transparent;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;

  max-width: 520px;
  font-size: 1em;
  padding: 15px 10px;
  transition: 0.2s ease-in-out;

  div {
    position: relative;
    z-index: 2;
  }
  svg {
    margin-left: 10px;
    transform: translateY(4px);
  }
  &::after {
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -70%) skewX(-$skew);
    transition: 0.2s ease-in-out;
  }
  &:hover {
    &::after {
      transform: translate(-50%, -70%) skewX(0);
    }
  }
}
.pink {
  @include setColors($pink);
}
.blue {
  @include setColors($lightBlue);
}
.red {
  @include setColors($warningRed);
}
