@import "_variables";
.btnContainer {
  width: 100%;
  max-width: 520px;
  .warning {
    position: absolute;
  }
  button {
    width: 100%;
  }
}
.showWarning {
  &::before {
    content: "We don't know where to send it. Verify your location first, please.";

    width: 450px;
    height: 60px;
    top: -80px;
    position: absolute;
    border: 2px solid $lightRed;
    background-color: $darkGrey;
    color: $lightRed;
    text-transform: none;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: $max-width-sm) {
  .btnContainer {
    .showWarning {
      &::before {
        width: 80vw;
      }
    }
  }
}
