@import "_variables";
@import "_functions";

.prod {
  @include setDisplayFlex();
  margin-bottom: 25px;
  width: 50vw;
  img:hover,
  .details a:hover {
    color: $lightBlue;
  }
  .details {
    margin-left: 20px;
    width: 100%;
    @include setDisplayFlex(row, space-between, center);
    .name {
      max-width: 250px;
    }
    a {
      width: 100%;

      color: $white;
      text-decoration: none;
      transition: 0.3s ease-in-out;
    }

    div:last-child {
      span {
        font-size: 1.2em;
      }
    }
  }
  .remove {
    svg {
      font-size: 25px;
      transition: 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        color: $warningRed;
      }
    }
  }

  #discount {
    span {
      margin-right: 10px;
    }
  }
  .qtd {
    @include setDisplayFlex(row, center, center);

    svg {
      font-size: 1.2em;
      cursor: pointer;
    }
    p {
      font-size: 1.2em;
      margin: 0 10px;
    }
  }
  .notMinus {
    svg:first-child {
      color: $lightGrey;
      cursor: not-allowed;
    }
  }
  .finalPrice {
    text-wrap: nowrap;
    margin: 0 5px;
  }
}

@media screen and (max-width: 1300px) {
  .prod .details .qtd {
    flex-direction: column-reverse;
    p {
      margin: 7px 0;
    }
  }
}
@media screen and (max-width: $max-width-md) {
  .prod {
    width: 100%;
    img {
      width: 150px;
      height: 100px;
    }
    .details {
      .name {
        width: 25vw;
      }
    }
    .finalPrice {
      margin: 0;
      font-size: 1.2em;
      color: $lightGreen;
    }
  }
}
