@import "_variables";
@import "_functions";
$translateSize: 35px;
$max-height: 250px;
$transitionTime: 0.3s;
@keyframes scrollbarColor {
  95% {
    background-color: transparent;
  }
  100% {
    background-color: $lightGreen;
  }
}
.visible {
  .list ul {
    max-height: $max-height;
  }
  ::-webkit-scrollbar-thumb {
    animation: scrollbarColor 0.5s forwards;
  }
}
.invisible {
  .list ul {
    max-height: 0px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  // .list ul {
  //   max-height: 0px;
  // }
  // .list ul {
  //   transition: display 0.1s linear calc($tempoTransition + 1s);
  //   display: none;
  // }
}
.container {
  @include setDisplayFlex(row, center, center);

  z-index: -1;
  position: fixed;
  top: 30px;
  left: 0;
  width: 100vw;
  margin-top: 20px;
  flex-wrap: wrap;
  .list {
    @include setDisplayFlex(row, space-between, center);

    width: 80%;
    background-color: $darkBlue;
    ul {
      transition: max-height $transitionTime ease-in-out;
      flex-wrap: wrap;
      overflow-y: scroll;
    }
    span a {
      color: $lightGreen;
    }
    li {
      margin: 20px;
      max-width: 45vw;
      text-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    ::-webkit-scrollbar {
      background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
      transition: 1s linear calc($transitionTime + 0.5s);
    }
  }
}

@media screen and (max-width: $max-width-sm) {
  .container .list {
    width: 90%;
    justify-content: center;
  }
}
