@import "_variables";
@import "_functions";
.finished {
  @include setDisplayFlex(column, normal, center);
  margin-top: calc($marginFromTop + 20px);
  width: 100%;

  h1 {
    margin-bottom: 20px;
  }
  p {
    font-size: 1.2em;
  }
  .prodArea {
    @include setProdArea();
    a {
      display: block;
      width: 90%;
    }
  }

  .swiper {
    width: 95%;
  }
}
