@import "_variables";
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: $darkGrey;
}
p,
span,
div,
li {
  color: $white;
}
:root {
  --swiper-theme-color: white !important;
  --swiper-pagination-bullet-inactive-color: #9b9b9b !important;
}
::-webkit-scrollbar {
  background-color: $darkGrey;

  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: $lightGrey;
}
