@import "_variables";
@import "_functions";
$spaceMonkey: "Space-Monkey", "Default", "Sans serif";
$glitch: "Glitch";
$default: "Default";

.prod_area {
  @include setProdArea();
}
.skeleton > span {
  @include setDisplayFlex(row, center);
  flex-wrap: wrap;
}
.skelProd {
  margin: 30px;
  width: 20vw;
  height: 250px;
}
