@import "_variables";
@import "_functions";
.main {
  @include setSizes();
}
.buy {
  @include setDisplayFlex(row);
}
.prodMain {
  font-family: $default;
  font-size: 1.5em;
}
.desc {
  font-size: 1.1em;
  margin-top: 50px;
  padding-bottom: 40px;

  h3 {
    font-size: 1.7em;
    margin-bottom: 20px;
  }

  ol,
  ul {
    margin: 10px 0 10px 1.1em;
  }

  li::marker {
    color: $pink;
  }

  ol,
  ul,
  p {
    line-height: 1.4em;
  }

  strong {
    color: $lightGreen;
  }
}
@media screen and (max-width: 1200px) {
  .buy {
    flex-direction: column;
  }
  .desc {
    margin-top: 30px;
  }
}

.notFound {
  width: 100vw;
  height: 100vh;
  @include setDisplayFlex(column, center, center);
  p {
    margin: 0 10%;
    font-size: 1.5em;
    text-transform: uppercase;
  }
  img {
    margin-top: 20px;
    width: 40vw;
    height: auto;
  }
}
@media screen and (max-width: $max-width-sm) {
  .notFound {
    p {
      font-size: 1.2em;
    }
    img {
      width: 70vw;
    }
  }
}
