@import "_variables";
@import "_functions";
.navbar {
  @include setDisplayFlex(row, center, center);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  background-color: $darkBlue;
  z-index: 5;
  width: 100%;
  transition: transform 0.3s ease-in-out;
  nav {
    width: 90%;
  }
  img {
    margin-top: 10px;
  }
  svg {
    width: 25px;
    height: 25px;
    transition: fade 0.3s ease-in-out;
  }
  ul {
    @include setDisplayFlex(row, space-between, center);
    list-style: none;
    width: 100%;
    li {
      &:nth-child(2) {
        margin-right: 27px;
      }
    }
  }
  a div {
    @include setDisplayFlex(column, center, center);
    width: 20px;
    height: 20px;
    background-color: $pink;
    border-radius: 50%;
    position: relative;
    top: 5px;
    right: -12px;
  }
  a span {
    color: $darkGrey;
  }
  a,
  a:active,
  a:visited,
  li {
    color: $white;
    cursor: pointer;
    font-style: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: $default;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    &:hover {
      color: $pink;
    }
  }
}
.hide {
  transform: translateY(-200px);
  visibility: none;
}
@media screen and (max-width: $max-width-sm) {
  .navbar {
    nav {
      width: 85%;
    }
  }
}
